.data-list-view.mobile {
  .orderly-list-view-inner {
    .orderly-grid {
      padding: 10px !important;
    }
    .orderly-px-4 {
      // padding-left: 0px !important;
      // padding-right: 0px !important;
    }
  }
}

.orderly-space-y-3 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.orderly-data-list-mobile {
  #orderly-data-list-positions-header {
    // background-color: var(--grey800);
  }
}

///////////////////////////////// Edit content ////////////////////
.light {
  #orderly-tp_sl-slider {
    .orderly-bg-base-200 {
      background-color: var(--grey50);
    }
  }

  .orderly-sheet-content {
    background-color: #fff !important;
  }

  .orderly-sheet-header {
    button {
      svg {
        fill: var(--grey800) !important;
      }
    }
  }
  .orderly-tp_sl-order-edit-content {
    svg {
      fill: var(--grey800) !important;
    }
  }
  .orderly-input-container {
    background-color: var(--grey50) !important;
  }
}

.dark {
  .orderly-sheet-content {
    background-color: var(--grey800) !important;

    .orderly-input-container {
      background-color: var(--grey700) !important;
    }

    .orderly-select-none {
      .orderly-bg-base-200 {
        background-color: rgb(216 216 216 / 13%) !important;
      }
    }
  }
}

//////////////////// HEADER //////////////////////
.mobile-header-wrapper {
  #network-button {
    padding: 4px !important;
    height: 34px !important;
    min-width: 34px !important;
    flex-shrink: 0;
    .MuiButton-startIcon {
      margin: 0px !important;
    }

    .MuiButton-endIcon {
      display: none;
    }
  }

  #connect-wallet {
    padding: 4px 10px !important;
    font-size: 12px !important;
    height: 34px !important;
    font-weight: 500 !important;
  }
}
