.portfolio-item {
  border-radius: 10px !important;
  margin-bottom: 6px !important;
  padding: 8px !important;
  height: 40px !important;
  min-width: auto !important;
  .MuiListItemIcon-root {
    min-width: auto !important;
    margin-right: 0px !important;
  }
}

.recharts-cartesian-axis-tick-value {
  font-size: 11px !important;
}

#orderly-desktop-positions-content {
  min-height: calc(100vh - 155px) !important;
}

.recharts-tooltip-wrapper {
  &:hover {
    background-color: red !important;
  }
}
