.portfolio-item {
  border-radius: 10px !important;
  margin-bottom: 6px !important;
  padding: 8px !important;
  height: 40px !important;

  .MuiListItemIcon-root {
    min-width: auto !important;
    margin-right: 6px !important;
  }
}
