.MuiTableCell-sizeSmall {
  font-size: 12px !important;

  .MuiTypography-root {
    font-size: 12px;
  }
}

.MuiTableCell-body {
  font-weight: 600 !important;
  min-height: 45px !important;
}

.MuiTableRow-root {
  min-height: 45px !important;
}

.MuiTableCell-head {
  white-space: nowrap !important;
}
