// ======================================================
// Abstracts :: Variables
// ======================================================

:root {
	--primaryLight: #f7f4f0;
	--primaryMain: #e9e4de;
	--primaryDark: #b37350;

	--white: #fff;
	--grey50: #f2f2f2;
	--grey100: #d8d8d8;
	--grey200: #bfbfbf;
	--grey300: #a5a5a5;
	--grey400: #8c8c8c;
	--grey500: #727272;
	--grey600: #595959;
	--grey700: #3f3f3f;
	--grey800: #262626;
	--grey900: #413a36;

	--errorDark: #de4242;

	--darkBrown: #322b27;

	--success: #50cd89;
	--info: #7239ea;
	--blue: #3b88e9;
	--warning: #ffc700;
	--danger: #ff0000;

	--badge-purple-bg: #9162c025;
	--badge-green-bg: #449d5d25;
	--badge-amber-bg: #d1772425;
	--badge-blue-bg: #3b88e925;

	--badge-purple-fg: #9162c0;
	--badge-green-fg: #449d5d;
	--badge-amber-fg: #d17724;
	--badge-blue-fg: #3b88e9;
}

// ORDERLY
:root:has(.dark) {
	--orderly-color-primary: 179 115 80;
	--orderly-color-primary-light: 233 228 222;
	--orderly-color-primary-darken: 179 115 80;
	--orderly-color-primary-contrast: 247 244 240;
	--orderly-color-link: 179 115 80;
	--orderly-color-secondary: 255 255 255;
	--orderly-color-tertiary: 218 218 218;
	--orderly-color-quaternary: 218 218 218;
	--orderly-color-danger: 232 88 175;
	--orderly-color-danger-light: 255 103 191;
	--orderly-color-danger-darken: 199 68 146;
	--orderly-color-danger-contrast: 255 255 255;
	--orderly-color-success: 3 152 134;
	--orderly-color-success-light: 0 181 159;
	--orderly-color-success-darken: 0 119 105;
	--orderly-color-success-contrast: 255 255 255;
	--orderly-color-warning: 255 207 115;
	--orderly-color-warning-light: 255 207 115;
	--orderly-color-warning-darken: 117 88 33;
	--orderly-color-warning-contrast: 255 255 255;
	--orderly-color-fill: 36 32 47;

	--orderly-color-fill-active: 40 46 58;
	--orderly-color-base-100: 242 242 242;
	--orderly-color-base-200: 216 216 216;
	--orderly-color-base-300: 165 165 165;
	--orderly-color-base-400: 140 140 140;
	--orderly-color-base-500: 114 114 114;
	--orderly-color-base-600: 89 89 89;
	--orderly-color-base-700: 63 63 63;
	--orderly-color-base-800: 61 61 61;
	--orderly-color-base-900: 38 38 38;

	--orderly-bg-base-900: 38 38 38;

	--orderly-color-base-foreground: 255 255 255;
	--orderly-color-trading-loss: 255 103 194;
	--orderly-color-trading-loss-contrast: 255 103 194;
	--orderly-color-trading-profit: 0 181 159;
	--orderly-color-trading-profit-contrast: 0 181 159;
	--orderly-rounded: 6px;
	--orderly-rounded-sm: 4px;
	--orderly-rounded-lg: 8px;
	--orderly-rounded-full: 9999px;
	--orderly-button-shadow: none;
	--orderly-font-size-4xs: 11px;
	--orderly-font-size-3xs: 12px;
	--orderly-font-size-2xs: 13px;
	--orderly-font-size-xs: 14px;
	--orderly-font-size-sm: 15px;
	--orderly-font-size-base: 16px;
	--orderly-font-size-lg: 18px;
	--orderly-font-size-xl: 20px;
	--orderly-font-size-2xl: 24px;
	--orderly-font-size-3xl: 30px;
	--orderly-font-size-4xl: 36px;
	--orderly-color-divider: 63 63 63;
	--orderly-font-family: "Manrope", sans-serif;
	--account-center-z-index: 9999;
}

// ORDERLY
:root:has(.light) {
	--orderly-color-primary: 182 79 255;
	--orderly-color-primary-light: 208 140 255;
	--orderly-color-primary-darken: 152 62 214;
	--orderly-color-primary-contrast: 255 255 255;
	--orderly-color-link: 182 79 255;
	--orderly-color-secondary: 255 255 255;
	--orderly-color-tertiary: 218 218 218;
	--orderly-color-quaternary: 218 218 218;
	--orderly-color-danger: 232 88 175;
	--orderly-color-danger-light: 255 103 191;
	--orderly-color-danger-darken: 199 68 146;
	--orderly-color-danger-contrast: 255 255 255;
	--orderly-color-success: 3 152 134;
	--orderly-color-success-light: 0 181 159;
	--orderly-color-success-darken: 0 119 105;
	--orderly-color-success-contrast: 255 255 255;
	--orderly-color-warning: 255 207 115;
	--orderly-color-warning-light: 255 207 115;
	--orderly-color-warning-darken: 117 88 33;
	--orderly-color-warning-contrast: 255 255 255;
	--orderly-color-fill: 36 32 47;
	--orderly-color-fill-active: 40 46 58;
	--orderly-color-base-100: 223 206 206;
	--orderly-color-base-200: 255 255 255;
	--orderly-color-base-300: 237 237 237;
	--orderly-color-base-400: 207 207 207;
	--orderly-color-base-500: 130 130 130;
	--orderly-color-base-600: 165 165 165;
	--orderly-color-base-700: 191 191 191;
	--orderly-color-base-800: 216 216 216;
	--orderly-color-base-900: 242 242 242;
	--orderly-color-base-foreground: 38 38 38;
	--orderly-color-trading-loss: 255 103 194;
	--orderly-color-trading-loss-contrast: 255 103 194;
	--orderly-color-trading-profit: 0 181 159;
	--orderly-color-trading-profit-contrast: 0 181 159;
	--orderly-rounded: 6px;
	--orderly-rounded-sm: 4px;
	--orderly-rounded-lg: 8px;
	--orderly-rounded-full: 9999px;
	--orderly-button-shadow: none;
	--orderly-font-size-4xs: 11px;
	--orderly-font-size-3xs: 12px;
	--orderly-font-size-2xs: 13px;
	--orderly-font-size-xs: 14px;
	--orderly-font-size-sm: 15px;
	--orderly-font-size-base: 16px;
	--orderly-font-size-lg: 18px;
	--orderly-font-size-xl: 20px;
	--orderly-font-size-2xl: 24px;
	--orderly-font-size-3xl: 30px;
	--orderly-font-size-4xl: 36px;
	--orderly-color-divider: 216 216 216;
	--orderly-font-family: "Manrope", sans-serif;

	--account-center-z-index: 9999;
}
