// ======================================================
// Abstracts :: Variables
// ======================================================

:root {
  // Colors
  --app-bg-color: #fff;
  --white: #ffffff;
  --light: #e9ebec;

  --primary: #a20069;
  --secondary: #0d3ff4;
  --success: #50cd89;
  --info: #7239ea;
  --warning: #ffc700;
  --danger: #ff0000;
  --dark: #181c32;
  --dark-lighter: #181c328e;
  --dark-blue: #1e435a;
  --dark-blue-lightest: #1e435a28;

  --blue: #1976d2;
  --blue-lighter: #1976d227;

  --primary-lighter: #fbc90082;
  --primary-lightest: #fbc90019;
  --secondary-light: #f9f9f9;
  --success-light: #e8fff3;
  --info-light: #f8f5ff;
  --warning-light: #fff8dd;
  --danger-light: #fef1f1;
  --dark-light: #f4f4f4;

  --gray-0: #f8f8f9;
  --gray-100: #f4f4f6;
  --gray-200: #e8e9ed;
  --gray-300: #dddfe4;
  --gray-400: #d1d4db;
  --gray-500: #c6c8d2;
  --gray-600: #babec9;
  --gray-700: #afb4c0;
  --gray-800: #a4a9b7;
  --gray-900: #989eae;
  --gray-A100: #8d93a5;
  --gray-A200: #81899c;
  --gray-A300: #767e93;

  --link-color: #009ef7;
  --link-hover-color: #0095e8;

  // Input colors
  --input-placeholder-color: #a1a5b7;
  --input-color: #5e6278;
  --input-border-color: #e1e3ea;
  --input-border-color-hover: #b5b5c3;
  --input-border-color-focus: #181c32;
  --input-bg: #f9f9f9;
  --input-bg-focus: #f4f4f4;
  --input-placeholder-color: #a1a5b7;

  --input-border-foucused-color: #dfe5ef;
  --input-focused-color: #dfe5ef3c;

  --border-radius: 8px;
  --border-color: #e5eaef;
}
