.market-popup {
	max-width: 450px;
	max-height: 400px;
    border-radius: 16px !important;
}

.market-popup-left {
     margin-top: -14px !important;
    margin-right: 10px;
}

[data-theme="dark"] .market-popup {
   .oui-bg-base-9 {
    background-color: var(--grey800) !important;
   }
   .oui-table-thead {
    background-color: var(--table-header-bg) !important;
   }
}