html {
  font-family: var(--orderly-font-family) !important;
  color: var(--grey900);
}

body {
  font-family: var(--orderly-font-family) !important;
  color: var(--grey900);
}

.light {
  div p,
  span,
  h1,
  h2,
  h3,
  h4,
  h5 {
    // color: var(--grey900);
    font-family: var(--orderly-font-family) !important;
  }
}

label {
  // color: var(--grey900);
  font-family: var(--orderly-font-family) !important;
}

a {
  color: inherit !important;
}

// remove arrow
/* Chrome, Safari, Edge, Opera */
input[type="number"] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  display: none;
}

/* Firefox */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.toast-success {
  color: var(--white);
  background-color: var(--success);
}

.toast-error {
  background-color: var(--danger);
  color: var(--white);
}

.toast-warning {
  background-color: var(--warning);
  color: var(--white);
}

.apply-common-tooltip {
  div {
    color: #20222b !important;
  }
}

.tradingview-widget-copyright {
  display: none !important;
}

.tcmp-orderbook {
  #orderly-order-book-depth {
    display: none !important;
  }
}

.orderly-select {
  .orderly-select-btn {
    height: 28px !important;
  }

  .orderly-select-none {
    height: 28px !important;
  }
}

.pointer {
  cursor: pointer;
}

.table-header-custom {
  padding-left: 16px !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.z-indexed.svelte-w5zexe {
  z-index: 99999 !important;
}

.menu-form-control {
  margin-top: 6px;
  box-shadow: none !important;
}

.MuiDialog-root {
  z-index: 1300 !important	;
}
@media screen and (max-width: 992px) {
  .MuiDialog-root {
    z-index: 1300 !important	;
    .MuiPaper-root {
      width: calc(100% - 16px) !important;
    }
  }
}

.svelte-obaru3 {
  display: none !important;
}

.menu-form-control {
  .MuiPaper-root {
    box-shadow: none;
    margin-top: 6px;
  }

  .MuiList-root {
    max-height: 200px;
    margin-top: 0px !important;
    padding-top: 0px !important;
    .MuiButtonBase-root {
      min-width: 100px !important;
      height: 32px !important;
      min-height: 32px;
    }
  }
}

//////////////////// MODAL ///////////////
.light {
  .orderly-dialog-content {
    background-color: var(--white) !important;
    .orderly-px-5 {
      padding-left: 10px;
      padding-right: 10px;
    }
    .orderly-dialog-header {
      padding-left: 10px;
      padding-right: 10px;
      h2 {
        color: var(--grey800) !important;
      }
    }
    .orderly-dialog-close {
      svg {
        fill: var(--grey800);
      }
    }
  }
}

/////////////////////
.line-no-data {
  .recharts-line {
    display: none !important;
  }
}

div[data-radix-menu-content] {
  max-height: 400px;
  overflow-y: auto !important;
}
