html {
	font-family: var(--orderly-font-family) !important;
	color: var(--grey900);
}
body {
	font-family: var(--orderly-font-family) !important;
	color: var(--grey900);
}

div p,
span,
h1,
h2,
h3,
h4,
h5 {
	color: var(--grey900);
}

// .dark {
// 	div p,
// 	span,
// 	h1,
// 	h2,
// 	h3,
// 	h4,
// 	h5 {
// 		color: var(--white);
// 	}
// }

a {
	color: inherit !important;
}

// remove arrow
/* Chrome, Safari, Edge, Opera */
input[type='number'] {
	-moz-appearance: textfield;
}

::-webkit-scrollbar {
	display: none;
}

/* Firefox */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.toast-success {
	color: var(--white);
	background-color: var(--success);
}

.toast-error {
	background-color: var(--danger);
	color: var(--white);
}

.toast-warning {
	background-color: var(--warning);
	color: var(--white);
}

.apply-common-tooltip {
	div {
		color: #20222b !important;
	}
}

.tradingview-widget-copyright {
	display: none !important;
}

iframe {
	html.theme-dark #widget-container {
		border-color: #fff !important;
	}
}

.tcmp-orderbook {
	#orderly-order-book-depth {
		display: none !important;
	}
}

.orderly-select {
	.orderly-select-btn {
		height: 28px !important;
	}
	.orderly-select-none {
		height: 28px !important;
	}
}

.pointer {
	cursor: pointer;
}

.table-header-custom {
	padding-left: 16px !important;
	padding-top: 12px !important;
	padding-bottom: 12px !important;
}

.tcmp-orderbook > div:first-child {
	// display: none;
}
