body {
  background-color: var(--gray-100);
  font-weight: 400;
}

a {
  color: inherit !important;
}

// remove arrow
/* Chrome, Safari, Edge, Opera */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Firefox */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
