.light {
}

.orderly-input-container.orderly-color-base-900 {
	background-color: #e9e4de !important;
}

.orderly-border-divider {
	border-color: var(--grey50) !important;
}

.orderly-text-trade-loss {
	color: var(--errorDark) !important;
}

.orderly-bg-base-600 {
	background-color: #fff !important;
}

.orderly-input-container.orderly-outline-primary {
	outline: none !important;
	// outline-color: var(--grey600);
}

.dark.market-popup {
	.orderly-input-container {
		background-color: var(--grey800) !important;
	}

	span {
		color: var(--grey50);
	}
}

.light.market-popup {
	.orderly-text-base-contrast-36 {
		color: var(--grey900);
	}
	.orderly-input-container {
		background-color: var(--primaryLight) !important;

		&.orderly-color-base-900 {
			background-color: #e9e4de !important;
		}

		&.orderly-outline-primary {
			outline-color: var(--primaryMain);
		}
		svg {
			color: var(--grey900);
		}

		input {
			color: var(--grey900);
			&::-webkit-input-placeholder {
				color: var(--grey500);
			}
		}
	}
}

.dark {
	.MuiTableCell-root {
		color: var(--grey50);
	}
}
